body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #e9c46a, #023047, #B23A48, #FCB9B2, #FED0BB);
  background-size: 400% 400%;
  animation: gradientAnimation 10s infinite;
  overflow: hidden;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transform: scale(0.9);
  animation: scaleIn 1s forwards, bounce 2s infinite;
  max-width: 50rem;
  box-shadow: #444 5px 5px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1px;
}

.name {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #A37A74;
}

.title {
  font-size: 20px;
  color: #000000;
}

.description {
  margin-top: 20px;
  font-size: 14px;
  color: #444;
  line-height: 1.4;
}

.contact {
  margin-top: 30px;
}

.contact p {
  font-size: 16px;
  color: #444;
  margin: 8px;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
